body{
    background-color: rgb(120, 188, 190);
}
.name_of_objects{
color: rgb(255, 238, 0);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#camera{
border-style: solid;
border: 2px solid black;
    width: 350px;
    height: 300px;
}

p{
    color: white;
}